body {
  background-color: rgb(104, 99, 99);
  color: white;
  font-family: sans-serif;
}
.contenedor {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
}
.card {
  background-color: rgb(181, 181, 181);
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  margin: 50px auto;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.64);
  text-align: center;
}
img {
  border-radius: 50%;
  width: 100%;
}